<%- include('header') %>

<div class="px-5 py-5 my-5 bg-light" style="border-radius: 0.5em;">
    <h2>Auctions</h2>
    <table id="auctions" class="details-table">
        <tbody>
            <tr>
                <th>Address</th>
                <th>Zip</th>
                <th>City</th>
                <th>State</th>
                <th>Pickup Time</th>
                <th>Lowest Bid</th>
                <th>Your Bid</th>
                <th>Action</th>
            </tr>
            <% auctions.forEach( trip => { %>
            <tr id="<%= trip.trip_id %>">
                <td><%= trip.destAddress %></td>
                <td><%= trip.destCity %></td>
                <td><%= trip.destState %></td>
                <td><%= trip.destZip %></td>
                <td><%= trip.pickuptime.toString().slice(0,21) %></td>
                <td><%= trip.highestbid %></td>
                <td><input style="width: 100%" type="number" id="<%= trip.trip_id %>-bid" value="0"></td>
                <td><button class="btn btn-outline-dark" onclick="bid(event)">Bid</button></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
    <br />
    <form id="bid-form" method="post" action="/auction">
        <input id="bid-amount" type="hidden" name="amount" value="">
        <input id="bid-trip-id" type="hidden" name="trip_id" value="">
        <input id="bid-previous" type="hidden" name="previous" value="">
    </form>
</div>
</div>
<script>
    function bid(event) {
        let selected = event.target.parentNode.parentNode;
        const trip_id = selected.id;
        const bid_amount = document.getElementById(trip_id + '-bid').value;
        const previous = selected.children[5].textContent;

        document.getElementById('bid-amount').value = bid_amount;
        document.getElementById('bid-trip-id').value = trip_id;
        document.getElementById('bid-previous').value = previous;
        document.getElementById('bid-form').submit();
    }
</script>
<% include('footer') %>